/* Add a black background color to the top navigation */
body{
  margin: 0px;
}

.topBar {
    background-color: #5691ff;
    width: 100%;
    display: inline-block;
    margin: 0px;
}
.title{
  float: left;
  color: #fff;
  margin-left: 20px;
  margin-right: 15px;
}
  .barItems {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    display: block;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
    margin-top: 25px;
    margin-left: 15px;
    position: relative;
    display: inline-block;
}
.barItems:hover {
    background-color: #2570fc;
    color: black;
}

#home{
  margin-top: -25px;
  margin-bottom: -20px;
  width: 80px;
  height: 80px;

}

.topicbtn {
    font-family: 'Oswald', sans-serif;
    background-color: #5691ff;
    text-align: center;
    border: none;
    font-weight: bold;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 23px;

}

.topicsLinks {
  background-color: #f2f2f2;
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    border: 5px #f2f2f2 solid;
}

.topicsLinks a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.topicsLinks a:hover {
  background-color: #fff;
}

.barItems:hover .topicsLinks {
  display: block;
}

.topicbtn:hover {
  color: #000;
  background-color: #2570fc;
}

/* Style the search box inside the navigation bar */
.searchBar {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 40px;
    margin-right: 0px;
    font-size: 17px;
    width: 300px;
}

.searchBtn{
  height: 34px;
  width: 34px;
  margin-top: 40px;
  margin-right: 50px;
  margin-left: 0px;
  float: right;
  display: inline-block;
  background: url('Images/858732.png') left center no-repeat;
  background-size: 100% 100%;
  background-color: #f2f2f2;
}

.searchImg{
  height: 2px;
  width: 2px;
}



.text-area{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 23px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;

}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 0%;
    background-color: #f2f2f2;
    padding: 5px;
}

.marg{

}

.fix-feed{
  font-size: 55px;
margin-left: 40%;

}

.Feedback{
float: left;
font-weight: bold;
color: #000;
display: inline-block;
font-family:arial;
text-transform:uppercase;
letter-spacing: 0.1em;
word-spacing: 0em;
text-decoration: none;
}

.Feedback:hover {
    color: #f2f2f2;
    text-decoration: underline;
}
.Feedback:active{
  color: #000;
}

#main-footer{
  background: #5691ff;
  color:#fff;
  text-align: center;
  padding:20px;
}
